<!doctype html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Upraviť profil</title>
  <link rel="stylesheet" th:href="@{/css/profile_edit.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Upraviť profil</h1>

<div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color:red;"></div>

<form th:action="@{/profil/edit}" th:object="${form}" method="post" enctype="multipart/form-data">

  <div>
    <label>Meno</label>
    <input type="text" th:field="*{firstName}" required>
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red;"></div>
  </div>

  <div>
    <label>Priezvisko</label>
    <input type="text" th:field="*{lastName}" required>
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red;"></div>
  </div>

  <div>
    <label>Telefón</label>
    <input type="text" th:field="*{phoneNumber}">
    <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color:red;"></div>
  </div>

  <div>
    <label>Adresa</label>
    <input type="text" th:field="*{address}" style="width: 380px;">
    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color:red;"></div>
  </div>

  <hr>

  <div>
    <label>Profilový obrázok (nahrať súbor)</label>
    <input type="file" name="avatarFile" accept="image/png,image/jpeg,image/webp,image/*">
  </div>

  <button type="submit">Uložiť</button>
</form>

<p>
  <a th:href="@{/profil}">Späť na profil</a>
  | <a th:href="@{/profil/password}">Zmeniť heslo</a>
</p>

</body>
</html>